@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --dark-background: #1F2937;
    --gray-background: #E5E7EB;
    --lightblue: #3882F6;
    --somehowwhite: #F9FAF8;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.first-section, .last-section {
    background: var(--dark-background);
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    align-self: center;
}

.header-links ul {
    font-size: 18px;
    color: var(--gray-background)
}

.header-main-container {
    font-size: 48px;
    font-weight: bolder;
    color: var(--somehowwhite);
}
.header-left-container button {
    background: var(--lightblue);
    color: var(--somehowwhite);
    border: solid 2px var(--somehowwhite);
    border-radius: 5px;
}

.placeholder-image {
    width: 400;
    height: 225;
    background: var(--gray-background);
    color: var(--somehowwhite);
}

.second-section {
    background: var(--somehowwhite);
    color: var(--dark-background);
}

.second-section h1 {
    color: var(--dark-background);
}

.item-image {
    height: 100px;
    width: 100px;
    border: solid 5px var(--lightblue);
    border-radius: 10px;
}

.third-section {
    background: var(--gray-background);
}

.quote-container em {
    color: var(--dark-background);
    font-size: 36px;
    font-weight: lighter;
}

.quote-container p {
    color: var(--dark-background);
    font-size: 24px;
    font-weight: bolder;
}

.fourth-section {
    background: var(--somehowwhite);
}

.signup-container {
    background: var(--lightblue);
    color: var(--somehowwhite);
}

.signup-container button {
    background: var(--lightblue);
    color: var(--somehowwhite);
    border: solid 2px var(--somehowwhite);
    border-radius: 5px;
}

.last-section {
    color: var(--somehowwhite);
}


.header-top-container {
    display: flex;
    justify-content: space-around;
}

.header-top-container ul {
    display: flex;
    list-style: none;
}

.header-top-container li {
    padding: 00 15px;
}