@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --dark-background: #1F2937;
    --gray-background: #E5E7EB;
    --lightblue: #3882F6;
    --somehowwhite: #F9FAF8;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/* fonts and colors */
.first-section {
    background: var(--dark-background);
    padding: 0 15vw;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    align-self: center;
}

.header-links ul {
    font-size: 18px;
    color: var(--gray-background)
}

.header-main-container {
    color: var(--somehowwhite);
}

.header-left-container button {
    background: var(--lightblue);
    color: var(--somehowwhite);
    border-radius: 5px;
    width: 80px;
    height: 30px;
    margin: 10px 0 00;
}

.header-left-container h1 {
    margin: 0 0;
    font-size: 48px;
    font-weight: bolder;
}

.header-left-container p {
    font-size: 18px;
    color: var(--gray-background);
    margin: 0;
}


.placeholder-image {
    width: 500px;
    height: 225px;
    background: gray;
    color: var(--somehowwhite);
}

.second-section {
    background: var(--somehowwhite);
    color: var(--dark-background);
}

.second-section h1 {
    color: var(--dark-background);
    font-size: 36px;
    font-weight: bolder;
}

.item-image {
    height: 175px;
    width: 175px;
    border: solid 5px var(--lightblue);
    border-radius: 10px;
}

.third-section {
    background: var(--gray-background);
}

.quote-container em {
    color: var(--dark-background);
    font-size: 36px;
    font-weight: lighter;
}

.quote-container p {
    color: var(--dark-background);
    font-size: 24px;
    font-weight: bolder;
}

.fourth-section {
    background: var(--somehowwhite);
}

.signup-container {
    background: var(--lightblue);
    color: var(--somehowwhite);
}

.signup-container button {
    background: var(--lightblue);
    color: var(--somehowwhite);
    border: solid 2px var(--somehowwhite);
    border-radius: 5px;
}

.last-section {
    color: var(--somehowwhite);
}



/* layout */
.header-top-container {
    display: flex;
    justify-content: space-between;
}

.header-top-container ul {
    display: flex;
    list-style: none;
}

.header-top-container li {
    padding: 0 15px;
}

.header-main-container {
    color: var(--somehowwhite);
    display: flex;
    justify-content: space-between;
    max-height: fit-content;
    padding: 10vh 0;
    align-items: stretch;
}

.header-left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: left;
    max-width: 25vw;
    align-self: center;
}

.header-right-container {
    align-self: center;

}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
}

.main-images-container {
    display: flex;
    width: min-content;
    height: auto;
    justify-content: center;
}

.item {
    margin: 0 25px;

}

.item p {
    text-align: center;
    font-size: 18px;

}
