@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --dark-background: #1F2937;
    --gray-background: #E5E7EB;
    --lightblue: #3882F6;
    --somehowwhite: #F9FAF8;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.first-section {
    background: var(--dark-background);
    padding: 0 15vw;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    align-self: center;
}

.header-links ul {
    font-size: 18px;
    color: var(--gray-background)
}

.header-main-container {
    color: var(--somehowwhite);
    display: flex;
    justify-content: space-between;
    max-height: fit-content;
    padding: 10vh 0;
    align-items: stretch;
}

.header-top-container {
    display: flex;
    justify-content: space-between;
}

.header-top-container ul {
    display: flex;
    list-style: none;
}

.header-top-container li {
    padding: 0 15px;
}

.header-left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: left;
    max-width: 25vw;
    align-self: center;
}

.header-left-container button {
    background: var(--lightblue);
    color: var(--somehowwhite);
    border-radius: 5px;
    width: 80px;
    height: 30px;
    margin: 10px 0 00;
}

.header-left-container h1 {
    margin: 0 0;
    font-size: 48px;
    font-weight: bolder;
}

.header-left-container p {
    font-size: 18px;
    color: var(--gray-background);
    margin: 0;
}

.header-right-container {
    align-self: center;
}


.placeholder-image img {
    width: 500px;
    height: auto;
    border: solid 1px var(--somehowwhite);
}

.second-section {
    background: var(--somehowwhite);
    color: var(--dark-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 15vw 10vh 15vw;
}

.second-section h1 {
    color: var(--dark-background);
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.main-images-container {
    display: flex;
}

.item {
    margin: 0 25px;
}

.item p {
    text-align: center;
    font-size: 18px;
}

.item-image {
    height: 175px;
    width: 175px;
    border: solid 5px var(--lightblue);
    border-radius: 10px;
}

.item1 {
    background: #DE92C2;
}

.item2 {
    background: #7CA5DE;
}

.item3 {
    background: #DEB566;
}

.item4 {
    background: #7BDE71;
}

.third-section {
    background: var(--gray-background);
    padding: 0 15vw;
}

.quote-container {
    padding: 15vh 0;
}

.quote-container em {
    color: var(--dark-background);
    font-size: 36px;
    font-weight: lighter;
}

.quote-container p {
    color: var(--dark-background);
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
}

.fourth-section {
    background: var(--somehowwhite);
    padding: 5vh 15vw;
}

.signup-container {
    background: var(--lightblue);
    color: var(--somehowwhite);
    display: flex;
    padding: 5vh 5vw;
    justify-content: space-between;
}

.signup-text>* {
    margin: 0;
    padding: 0;
}

.signup-container button {
    background: var(--lightblue);
    color: var(--somehowwhite);
    border: solid 2px var(--somehowwhite);
    border-radius: 5px;
    width: 80px;
    height: 30px;
    margin: 10px 0 00;
    align-self: center;
}

.last-section {
    color: var(--somehowwhite);
}

footer {
    background-color: var(--dark-background);
    height: 10vh;
    padding: 2vh 0;
    text-align: center;
}



@media (max-width: 60.00em) {

    .first-section {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        padding: 15px 15px;
    }

    .header-main-container {
        flex-direction: column;
        padding: 20px 0;
    }

    .header-links ul {
        padding: 0;
        justify-content: center;
    }

    .header-top-container {
        flex-direction: column;
    }

    .header-left-container {
        max-width: fit-content;
        margin: 20px 0;
    }

    .placeholder-image img {
        max-width: 100%;
        max-height: 100%;
    }

    .second-section {
        display: flex;
        flex-direction: column;
    }

    .main-images-container {
        flex-direction: column;
    }

    .item-image {
        margin: 0 auto;
    }

    .fourth-section {
        padding: 0;
    }

    .signup-container button {
        margin: 0 20px;
        width: 120px;
        height: 30px;
    }
}